# 当前 C3 实板基线：ESP32-C3 rev 0.4，4 MiB Flash，USB Serial/JTAG。
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions/partition_table.csv"
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y
