# ESP32-D0WD-V3 的 4 MiB 分区与 UART0 控制入口。
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions/esp32-partition-table.csv"
CONFIG_ESP_CONSOLE_UART_DEFAULT=y
CONFIG_ESP_CONSOLE_UART_NUM=0
CONFIG_ESP_WIFI_SOFTAP_SUPPORT=n
CONFIG_MBEDTLS_TLS_CLIENT_ONLY=y
CONFIG_PARTITION_TABLE_MD5=n
CONFIG_BOOTLOADER_LOG_LEVEL_NONE=y
